@import "./base.scss";

$color_1: $main_white_color;
$color_2: #61dafb;
$background_color_1: #f5f5f5;

.App {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.MainTabs {
  position: sticky;
  top: 54px;
  z-index: 4;
  background: white;
  // box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.2);
}
.proNavbar {
  box-shadow: 0px 6px 8px -5px rgba(0, 0, 0, 0.2);
}
.Loader {
  height: 32.064vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background_color_1;
}
.mandatory {
  font-size: 0.658vw;
  color: #ed4e4e;
}
.screenWidth {
  width: 99.5%;
}
.fixedPosition {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}
.paddingXThree {
  padding: 0 1.171vw !important;
}
.paddingXTwo {
  padding: 0 0.658vw !important;
}
#loderOverlay {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(
    0deg,
    rgba(17, 39, 56, 0.7),
    rgba(17, 39, 56, 0.7)
  ) !important;
  z-index: 2;
  cursor: pointer;
}
.loader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vw;
}
.container {
  max-width: 79.005vw !important;
}
.absoluteDiv {
  width: 13.909vw;
}

.cursorPtr{
  cursor: pointer !important;
}

.bgGreyPage {
  background: #F5F5F5;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.bgWhite{
  background: #fff;
}

/* media query */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .MainTabs {
    top: 41px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .MainTabs {
    top: 43px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .MainTabs {
    top: 48.23px;
  }
}
@media only screen and (min-width: 1550px) and (max-width: 1899px) {
  .screenWidth {
    width: 95%;
  }
  .MainTabs {
    top: 54.81px;
  }
  .container {
    max-width: 80.527vw !important;
  }
}

@media only screen and (min-width: 1900px) {
  .screenWidth {
    width: 90%;
  }
  .container {
    max-width: 87.847vw !important;
  }
  .MainTabs {
    top: 63.85px;
  }
}
