@font-face {
  font-family: "Museo-Sans";
  font-style: normal;
  src: local("Museo Sans Cyrl"), local("Museo-Sans-Cyrl"),
    url("../fonts/MuseoSansCyrl/MuseoSans.otf") format("opentype");
}

@font-face {
  font-family: "Museo-Sans-Cyrl";
  font-style: normal;
  src: local("Museo Sans Cyrl"), local("Museo-Sans-Cyrl"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl.otf") format("opentype");
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Bolder";
  font-style: normal;
  src: local("Museo Sans Cyrl Bolder"), local("Museo-Sans-Cyrl-Bolder"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_1.otf") format("opentype");
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Semibold";
  font-style: normal;
  src: local("Museo Sans Cyrl Semibold"), local("Museo-Sans-Cyrl-Semibold"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl_0.otf") format("opentype");
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Light";
  font-style: normal;
  src: local("Museo Sans Cyrl Light"), local("Museo-Sans-Cyrl-Light"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100.otf") format("opentype");
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Light-Italic";
  font-style: normal;
  src: local("Museo Sans Cyrl Light-Italic"),
    local("Museo-Sans-Cyrl-Light-Italic"),
    url("../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic_0.otf")
      format("opentype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: local("Open-Sans"), local("Open Sans"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("trueType");
}

@font-face {
  font-family: "Open Sans-SemiBold";
  font-style: normal;
  src: local("Open-Sans-SemiBold"), local("Open Sans-SemiBold"),
    url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("trueType");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  src: local("OpenSans-Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans/OpenSans-Bold.ttf") format("trueType");
}

@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  src: local("OpenSans-Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans/OpenSans-Light.ttf") format("trueType");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  src: local("Font-Awesome-5-Pro"), local("Font-Awesome-5-Pro"),
    url("../fonts/FontAwesome/Font_Awesome_5_Pro-Regular-400.otf")
      format("trueType");
}

html {
  overflow: auto;
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
  font-family: "Museo-Sans-Cyrl" !important;
  letter-spacing: 0.0366vw !important;
}
body {
  margin: 0;
  z-index: 0;
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
label,
input,
code,
li,
ul,
option,
select {
  font-family: "Museo-Sans-Cyrl" !important;
  scrollbar-width: thin !important;
  scrollbar-color: #c4c4c4 #f5f5f5;
}

body::-webkit-scrollbar {
  width: 0.366vw !important;
  height: 0.366vw !important;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5 !important;
  border-radius: 1.464vw !important;
}

body::-webkit-scrollbar-thumb {
  background: #c4c4c4 !important;
  border-radius: 1.464vw !important;
}

a {
  text-decoration: none !important;
}
